<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>avaliacaoPersistenciaVersao1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarregarServlet</display-name>
    <servlet-name>CarregarServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.CarregarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarregarServlet</servlet-name>
    <url-pattern>/CarregarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroPatioServlet</display-name>
    <servlet-name>CadastroPatioServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.CadastroPatioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroPatioServlet</servlet-name>
    <url-pattern>/CadastroPatioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroVeiculoServlet</display-name>
    <servlet-name>CadastroVeiculoServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.CadastroVeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroVeiculoServlet</servlet-name>
    <url-pattern>/CadastroVeiculoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteracaoVeiculoServlet</display-name>
    <servlet-name>AlteracaoVeiculoServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.AlteracaoVeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteracaoVeiculoServlet</servlet-name>
    <url-pattern>/AlteracaoVeiculoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarregarPesquisaServlet</display-name>
    <servlet-name>CarregarPesquisaServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.CarregarPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarregarPesquisaServlet</servlet-name>
    <url-pattern>/CarregarPesquisaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarDadoServlet</display-name>
    <servlet-name>EditarDadoServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.EditarDadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarDadoServlet</servlet-name>
    <url-pattern>/EditarDadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarServlet</display-name>
    <servlet-name>PesquisarServlet</servlet-name>
    <servlet-class>br.com.fiap.persistencia.servlet.PesquisarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarServlet</servlet-name>
    <url-pattern>/PesquisarServlet</url-pattern>
  </servlet-mapping>
</web-app>